<div class="container p-4">
    <div class="row">
        {{#each cars}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href=""></a>
                    <div>
                        <h1 class="card-title text-uppercase">
                            {{tipo}}
                        </h1>
                        <h3 class="card-title text-uppercase">
                            {{placa}}
                        </h3>
                    </div>
                    <p class="m-2">{{description}}</p>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/cars/delete/{{id}}">
                        Delete Vehicle
                    </a>
                    <a class="btn btn-secondary" href="/cars/edit/{{id}}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not Vehicle saved yet.</p>
                <a href="/cars/add">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>